@{
    ViewData["Title"] = "Данные";
    ViewData["Description"] = "Страница для ввода данных в базу данных и вывода";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Данные</h1>
</div>

<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="Contract-tab" data-toggle="tab" href="#Contract" role="tab" aria-controls="Contract" aria-selected="true">Договора</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="ListOfCompany-tab" data-toggle="tab" href="#ListOfCompany" role="tab" aria-controls="ListOfCompany" aria-selected="false">Список компаний</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="ListOfEmployee-tab" data-toggle="tab" href="#ListOfEmployee" role="tab" aria-controls="ListOfEmployee" aria-selected="false">Список рабочих</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="Contract" role="tabpanel" aria-labelledby="Contract-tab">
            <form id="ContractValidate">
                <div class="form-group pt-3">
                    <label for="InputProjectName">Название проекта</label>
                    <input type="text" class="form-control" id="InputProjectName" placeholder="Название проекта" name="NameProject">
                </div>
                <div class="form-group">
                    <label for="InputProjectDate">Дата заключения договора</label>
                    <input type="date" class="form-control" id="InputProjectDate" placeholder="Дата">
                </div>
                <div class="form-group">
                    <label for="InputProjectSite">Сайт для продвижения</label>
                    <input type="text" class="form-control" id="InputProjectSite" placeholder="Сайт" name="SiteProject">
                </div>
                <div class="form-group">
                    <label for="CompanySelect">Выберите компанию</label>
                    <select class="form-control" id="CompanySelect">
                        @foreach (var temp in ViewBag.Companies)
                        {
                            <option value="@temp.Id">@temp.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="EmployeeSelect">Выберите рабочего</label>
                    <select class="form-control" id="EmployeeSelect">
                        @foreach (var temp in ViewBag.Employees)
                        {
                            <option value="@temp.Id">@temp.FirstName @temp.SecondName</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label for="TextareaKeywords">Ключевые слова</label>
                    <textarea class="form-control" id="TextareaKeywords" placeholder="Слова вводить через запятую" name="ProjectKeywords"></textarea>
                </div>
                <div class="form-group">
                    <label for="InputGooglePoz">Позиция в Google</label>
                    <input type="text" class="form-control" id="InputGooglePoz" placeholder="Позиция в Google" name="GooglePozValid">
                </div>
                <div class="form-group">
                    <label for="InputYandexPoz">Позиция в Yandex</label>
                    <input type="text" class="form-control" id="InputYeandexPoz" placeholder="Позиция в Yandex" name="YandexPozValid">
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="OptimizImg">
                    <label class="custom-control-label" for="OptimizImg">Оптимизация изображений</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="OptimizText">
                    <label class="custom-control-label" for="OptimizText">Оптимизация текста</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="OptimizTag">
                    <label class="custom-control-label" for="OptimizTag">Оптимизация тэгов</label>
                </div>
                <br>
                <button type="button" class="btn btn-primary btn-lg btn-block" id="AddContract">Добавить договор</button>
            </form>
            <br>
            <div class="btn-group pb-3">
                <div class="dropdown pr-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Изменить
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @foreach (var item in (List<Contract>)ViewBag.Contracts)
                        {
                            <a class="dropdown-item" onclick="GetContractById(@item.Id)">@item.Name - @item.Company.Name</a>
                        }
                    </div>
                </div>
                <div class="dropdown" style="text-align: right;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Экспорт
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" onclick="ToExcelContract('xlsx')">Excel</a>
                        <a class="dropdown-item" onclick="ToHTMLContract('html')">HTML</a>
                    </div>
                </div>
            </div>
            <div id="data-table-contracts">
                <table class="table table-bordered text-center" style="font-size:12px;">
                    <tr style="background-color: rgba(156, 156, 156, 0.75); vertical-align:middle; text-align:center" class="align-middle">
                        <th rowspan="2">Название</th>
                        <th rowspan="2">Дата</th>
                        <th rowspan="2">Cайт</th>
                        <th rowspan="2">Компания</th>
                        <th rowspan="2">Выполняет</th>
                        <th rowspan="2">Google</th>
                        <th rowspan="2">Yandex</th>
                        <th colspan="3">Оптимизация</th>
                    </tr>
                    <tr style="background-color: rgba(156, 156, 156, 0.75)">
                        <td><b>Изображения</b></td>
                        <td><b>Текст</b></td>
                        <td><b>Тэги</b></td>
                    </tr>
                    @foreach (var item in (List<Contract>)ViewBag.Contracts)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Date</td>
                            <td><a href="https://@item.Url">@item.Url</a></td>
                            <td>@item.Company.Name</td>
                            <td>@item.Employee.FirstName @item.Employee.SecondName</td>
                            <td>@item.GooglePoz</td>
                            <td>@item.YandexPoz</td>
                            <td>@(@item.OptimImg == true ? "Да" : "Нет")</td>
                            <td>@(@item.OptimText == true ? "Да" : "Нет")</td>
                            <td>@(@item.OptimTag == true ? "Да" : "Нет")</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="ListOfCompany" role="tabpanel" aria-labelledby="ListOfCompany-tab">
            <form id="CompanyValidate">
                <div class="form-group pt-3">
                    <label for="InputCompanyName">Название компании</label>
                    <input type="text" class="form-control" id="InputCompanyName" placeholder="Название компании" name="CompanyName">
                </div>
                <div class="form-group">
                    <label for="InputCompanyCountry">Страна</label>
                    <input type="text" class="form-control" id="InputCompanyCountry" placeholder="Страна" name="CompanyCountry">
                </div>
                <div class="form-group">
                    <label for="InputCompanyCity">Город</label>
                    <input type="text" class="form-control" id="InputCompanyCity" placeholder="Город" name="CompanyCity">
                </div>
                <div class="form-group">
                    <label for="InputCompanyDirector">ФИО директора или ответственного лица</label>
                    <input type="text" class="form-control" id="InputCompanyDirector" placeholder="ФИО директора или ответственного лица" name="CompanyDirector">
                </div>
                <div class="form-group">
                    <label for="InputCompanyPhone">Номер телефона</label>
                    <input type="text" class="form-control" id="InputCompanyPhone" placeholder="В формате '+7ХХХХХХХХХХ'" name="CompanyPhone">
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block" id="AddCompany">Добавить компанию</button>
            </form>
            <br>
            <div class="btn-group pb-3">
                <div class="dropdown pr-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Изменить</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @foreach (var item in (List<Company>)ViewBag.Companies)
                        {
                            <a class="dropdown-item" onclick="GetCompanyById(@item.Id)">@item.Name</a>
                        }
                    </div>
                </div>
                <div class="dropdown" style="text-align: right;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Экспорт
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" onclick="ToExcelCompany('xlsx')">Excel</a>
                        <a class="dropdown-item" onclick="ToHTMLCompany('html')">HTML</a>
                    </div>
                </div>
            </div>
            <div id="data-table-companies">
                <table class="table table-bordered text-center">
                    <tr style="background-color: rgba(156, 156, 156, 0.75)">
                        <td>Название компании</td>
                        <td>Страна</td>
                        <td>Город</td>
                        <td>ФИО</td>
                        <td>Номер телефона</td>
                    </tr>
                    @foreach (var item in (List<Company>)ViewBag.Companies)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Country</td>
                            <td>@item.City</td>
                            <td>@item.LPR</td>
                            <td>@item.PhoneNumber</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="ListOfEmployee" role="tabpanel" aria-labelledby="ListOfEmployee-tab">
            <form id="EmployeeValidate">
                <div class="form-group pt-3">
                    <label for="InputEmployeeFirstName">Имя рабочего</label>
                    <input type="text" class="form-control" id="InputEmployeeFirstName" placeholder="Имя" name="EmployeeName">
                </div>
                <div class="form-group">
                    <label for="InputEmployeePatronymic">Отчество рабочего</label>
                    <input type="text" class="form-control" id="InputEmployeePatronymic" placeholder="Отчество" name="EmployeePatronymic">
                </div>
                <div class="form-group">
                    <label for="InputEmployeeSecondName">Фамилия рабочего</label>
                    <input type="text" class="form-control" id="InputEmployeeSecondName" placeholder="Фамилия" name="EmployeeSecondName">
                </div>
                <div class="form-group">
                    <label for="InputEmployeeBirthday">Дата рождения</label>
                    <input type="date" class="form-control" id="InputEmployeeBirthday" placeholder="Дата рождения">
                </div>
                <div class="form-group">
                    <label for="InputEmployeePosition">Должность</label>
                    <input type="text" class="form-control" id="InputEmployeePosition" placeholder="Должность" name="EmployeePosition">
                </div>
                <div class="form-group">
                    <label for="InputEmployeeDepartament">Отдел</label>
                    <select class="custom-select" id="InputEmployeeDepartment">
                        <option value="0">Администрация</option>
                        <option value="1">Бухгалтерия</option>
                        <option value="2">Разработка</option>
                        <option value="3">Отдел маркетинга</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="InputEmployeePhone">Номер телефона</label>
                    <input type="text" class="form-control" id="InputEmployeePhone" placeholder="В формате '+7XXXXXXXXXX'" name="EmployeePhone">
                </div>
                <div class="form-group">
                    <label for="InputEmployeeExperience">Стаж</label>
                    <input type="text" class="form-control" id="InputEmployeeExperience" placeholder="Лет" name="EmployeeExperience">
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block" id="AddEmployee">Добавить рабочего</button>
            </form>
            <br>
            <div class="btn-group pb-3">
                <div class="dropdown pr-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Изменить</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @foreach (var item in (List<Employee>)ViewBag.Employees)
                        {
                            <a class="dropdown-item" onclick="GetEmployeeById(@item.Id)">@item.FirstName @item.Patronymic @item.SecondName</a>
                        }
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Экспорт</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" onclick="ToExcelEmployee('xlsx')">Excel</a>
                        <a class="dropdown-item" onclick="ToHTMLEmployee('html')">HTML</a>
                    </div>
                </div>
            </div>
            <div id="data-table-employees">
                <table class="table table-bordered text-center">
                    <tr style="background-color: rgba(156, 156, 156, 0.75)">
                        <td>ФИО</td>
                        <td>Дата рождения</td>
                        <td>Должность</td>
                        <td>Отдел</td>
                        <td>Номер телефона</td>
                        <td>Стаж</td>
                    </tr>
                    @foreach (var item in (List<Employee>)ViewBag.Employees)
                    {
                        <tr>
                            <td>@item.FirstName @item.Patronymic @item.SecondName</td>
                            <td>@item.Birthday</td>
                            <td>@item.Position</td>
                            <td>@item.Department</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Experience</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="EmployeesModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="FullName"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="EmployeeId" class="form-control-label">Id:</label>
                        <input type="text" class="form-control" id="EmployeeId" readonly>
                    </div>
                    <div class="form-group">
                        <label for="EditEmployeeFirstName" class="form-control-label">Имя:</label>
                        <input type="text" class="form-control" id="EditEmployeeFirstName">
                    </div>
                    <div class="form-group">
                        <label for="EditEmployeePatronymic" class="form-control-label">Отчество:</label>
                        <input type="text" class="form-control" id="EditEmployeePatronymic">
                    </div>
                    <div class="form-group">
                        <label for="EditEmployeeSecondName" class="form-control-label">Фамилия:</label>
                        <input type="text" class="form-control" id="EditEmployeeSecondName">
                    </div>
                    <div class="form-group">
                        <label for="EditEmployeePosition" class="form-control-label">Должность:</label>
                        <input type="text" class="form-control" id="EditEmployeePosition">
                    </div>
                    <div class="form-group">
                        <label for="EditEmployeeDepartament">Отдел</label>
                        <select class="custom-select" id="EditEmployeeDepartment">
                            <option value="0">Администрация</option>
                            <option value="1">Бухгалтерия</option>
                            <option value="2">Разработка</option>
                            <option value="3">Отдел маркетинга</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="EditEmployeePhone" class="form-control-label">Номер телефона:</label>
                        <input type="text" class="form-control" id="EditEmployeePhone">
                    </div>
                    <div class="form-group">
                        <label for="EditEmployeeExperience" class="form-control-label">Стаж:</label>
                        <input type="text" class="form-control" id="EditEmployeeExperience">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick='DeleteEmployee(document.getElementById("EmployeeId").value)'>Удалить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" onclick="UpdateEmployeeModal()">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="CompaniesModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Name"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="CompanyId" class="form-control-label">Id:</label>
                        <input type="text" class="form-control" id="CompanyId" readonly>
                    </div>
                    <div class="form-group">
                        <label for="EditCompanyName" class="form-control-label">Название компании:</label>
                        <input type="text" class="form-control" id="EditCompanyName">
                    </div>
                    <div class="form-group">
                        <label for="EditCompanyCountry" class="form-control-label">Страна:</label>
                        <input type="text" class="form-control" id="EditCompanyCountry">
                    </div>
                    <div class="form-group">
                        <label for="EditCompanyCity" class="form-control-label">Город:</label>
                        <input type="text" class="form-control" id="EditCompanyCity">
                    </div>
                    <div class="form-group">
                        <label for="EditCompanyLPR" class="form-control-label">Лицо принимающее решение:</label>
                        <input type="text" class="form-control" id="EditCompanyLPR">
                    </div>
                    <div class="form-group">
                        <label for="EditCompanyPhone" class="form-control-label">Номер телефона:</label>
                        <input type="text" class="form-control" id="EditCompanyPhone">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick='DeleteCompany(document.getElementById("CompanyId").value)'>Удалить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" onclick="UpdateCompanyModal()">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="ContractsModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="NameContractModal"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="ContractId" class="form-control-label">Id:</label>
                        <input type="text" class="form-control" id="ContractId" readonly>
                    </div>
                    <div class="form-group">
                        <label for="EditContractName" class="form-control-label">Название проекта:</label>
                        <input type="text" class="form-control" id="EditContractName">
                    </div>
                    <div class="form-group">
                        <label for="EditCompanyDate" class="form-control-label">Дата:</label>
                        <input type="text" class="form-control" id="EditCompanyDate" readonly>
                    </div>
                    <div class="form-group">
                        <label for="EditCompanySite" class="form-control-label">Сайт:</label>
                        <input type="text" class="form-control" id="EditCompanySite">
                    </div>
                    <div class="form-group">
                        <label for="EditCompanySelect">Выберите компанию</label>
                        <select class="form-control" id="EditCompanySelect">
                            @foreach (var temp in ViewBag.Companies)
                            {
                                <option value="@temp.Id">@temp.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="EditEmployeeSelect">Выберите рабочего</label>
                        <select class="form-control" id="EditEmployeeSelect">
                            @foreach (var temp in ViewBag.Employees)
                            {
                                <option value="@temp.Id">@temp.FirstName @temp.SecondName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="EditContractKeywords" class="form-control-label">Ключевые слова:</label>
                        <textarea type="text" class="form-control" id="EditContractKeywords" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="EditContractGooglePoz" class="form-control-label">Позиция в Google:</label>
                        <input type="text" class="form-control" id="EditContractGooglePoz">
                    </div>
                    <div class="form-group">
                        <label for="EditContractYandexPoz" class="form-control-label">Позиция в Yandex:</label>
                        <input type="text" class="form-control" id="EditContractYandexPoz">
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="EditContractOptimizImg">
                        <label class="custom-control-label" for="EditContractOptimizImg">Оптимизация изображений</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="EditContractOptimizText">
                        <label class="custom-control-label" for="EditContractOptimizText">Оптимизация текста</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="EditContractOptimizTag">
                        <label class="custom-control-label" for="EditContractOptimizTag">Оптимизация тэгов</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick='DeleteContract(document.getElementById("ContractId").value)'>Удалить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" onclick="UpdateContractModal()">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Company Validate
        $("#CompanyValidate").validate({
            rules: {
                CompanyName: {
                    required: true,
                    minlength: 3,
                    maxlength: 50
                },
                CompanyCountry: {
                    minlength: 3,
                    maxlength: 30
                },
                CompanyCity: {
                    minlength: 3,
                    maxlength: 20
                },
                CompanyDirector: {
                    minlength: 3,
                    maxlength: 70
                },
                CompanyPhone: {
                    minlength: 12,
                    maxlength: 12
                },
            },
            messages: {
                CompanyName: {
                    required: "Это поле обязательно для заполнения",
                    minlength: "Поле должно быть минимум 3 символа",
                    maxlength: "Максимальное число символов - 50",
                },
                CompanyCity: {
                    minlength: "Поле должно быть минимум 3 символа",
                    maxlength: "Максимальное число символов - 30",
                },
                CompanyCity: {
                    minlength: "Поле должно быть минимум 4 символа",
                    maxlength: "Максимальное число символов - 20",
                },
                CompanyDirector: {
                    minlength: "Поле должно быть минимум 4 символа",
                    maxlength: "Максимальное число символов - 70",
                },
                CompanyPhone: {
                    minlength: "Поле должно быть минимум 12 символов",
                    maxlength: "Максимальное число символов - 12",
                }
            }
        });
        // Employee Validate
        $("#EmployeeValidate").validate({
            rules: {
                EmployeeName: {
                    required: true,
                    minlength: 5,
                    maxlength: 15
                },
                EmployeePatronymic: {
                    required: true,
                    minlength: 3,
                    maxlength: 20
                },
                EmployeeSecondName: {
                    required: true,
                    minlength: 3,
                    maxlength: 20
                },
                EmployeePosition: {
                    required: true,
                    minlength: 2,
                    maxlength: 20
                },
                EmployeePhone: {
                    minlength: 12,
                    maxlength: 12
                },
                EmployeeExperience: {
                    digits: true
                }
            },
            messages: {
                EmployeeName: {
                    required: "Это поле обязательно для заполнения",
                    minlength: "Поле должно быть минимум 4 символа",
                    maxlength: "Максимальное число символов - 15",
                },
                EmployeePatronymic: {
                    required: "Это поле обязательно для заполнения",
                    minlength: "Поле должно быть минимум 3 символа",
                    maxlength: "Максимальное число символов - 20",
                },
                EmployeeSecondName: {
                    required: "Это поле обязательно для заполнения",
                    minlength: "Поле должно быть минимум 3 символа",
                    maxlength: "Максимальное число символов - 20",
                },
                EmployeePosition: {
                    required: "Это поле обязательно для заполнения",
                    minlength: "Поле должно быть минимум 2 символа",
                    maxlength: "Максимальное число символов - 20",
                },
                EmployeePhone: {
                    minlength: "Поле должно быть минимум 12 символа",
                    maxlength: "Максимальное число символов - 12",
                },
                EmployeeExperience: {
                    digits: "Введите цифры",
                }
            }
        });
        // Contract Validate
        $("#ContractValidate").validate({
            rules: {
                NameProject: {
                    required: true,
                    minlength: 3,
                    maxlength: 30
                },
                SiteProject: {
                    required: true,
                    minlength: 3,
                    maxlength: 40
                },
                ProjectKeywords: {
                    minlength: 3,
                    maxlength: 100
                },
                GooglePozValid: {
                    digits: true,
                    minlength: 1,
                    maxlength: 3
                },
                YandexPozValid: {
                    digits: true,
                    minlength: 1,
                    maxlength: 3
                }
            },
            messages: {
                NameProject: {
                    required: "Это поле обязательно для заполнения",
                    minlength: "Поле должно быть минимум 3 символа",
                    maxlength: "Максимальное число символов - 30",
                },
                SiteProject: {
                    required: "Это поле обязательно для заполнения",
                    minlength: "Поле должно быть минимум 3 символа",
                    maxlength: "Максимальное число символов - 40",
                },
                ProjectKeywords: {
                    minlength: "Поле должно быть минимум 3 символа",
                    maxlength: "Максимальное число символов - 100",
                },
                GooglePozValid: {
                    digits: "Введите цифры",
                    minlength: "Поле должно быть минимум 1 символа",
                    maxlength: "Максимальное число символов - 3",
                },
                YandexPozValid: {
                    digits: "Введите цифры",
                    minlength: "Поле должно быть минимум 1 символа",
                    maxlength: "Максимальное число символов - 3",
                }
            }
        });
    });

    // Table Companies
    $("#AddCompany").on("click", function (evt) {
        var data = new FormData();
        data.append("Name", $("#InputCompanyName").val());
        data.append("Country", $("#InputCompanyCountry").val().replace(/\s/g, ''));
        data.append("City", $("#InputCompanyCity").val().replace(/\s/g, ''));
        data.append("LPR", $("#InputCompanyDirector").val());
        data.append("PhoneNumber", $("#InputCompanyPhone").val());
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddCompany")",
            contentType: false,
            processData: false,
            data: data,
            success: function (data) {
                toastr["success"]("Запись добавлена в БД");
                setTimeout(location.reload(), 3000);
            },
            error: function (request) {
                toastr["error"](request)
            },
        });
     });

    function DeleteCompany(id){
        $.ajax({
            type: "Get",
            url: "/home/DeleteCompany?Id=" + id,
            success: function (data) {
                toastr["success"]("Удалено из БД");
                setTimeout(location.reload(), 3000);
            },
            error: function (request) {
                toastr["error"](request)
            },
        })
    };

    function GetCompanyById(id) {
        $("#CompaniesModal").modal("show");
        var data = new FormData();
        data.append("Id", id);
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetCompanyById")",
            contentType: false,
            processData: false,
            data: data,
            success: function (data) {
                $("#Name").text(data.name);
                $("#CompanyId").val(data.id);
                $("#EditCompanyName").val(data.name);
                $("#EditCompanyCountry").val(data.country);
                $("#EditCompanyCity").val(data.city);
                $("#EditCompanyLPR").val(data.lpr);
                $("#EditCompanyPhone").val(data.phoneNumber);
            },
            error: function (request) {
                toastr["error"](request.message)
            },
        })
    };

    function UpdateCompanyModal() {
        var data = new FormData();
        data.append("Id",  $("#CompanyId").val());
        data.append("Name", $("#EditCompanyName").val());
        data.append("Country", $("#EditCompanyCountry").val().replace(/\s/g, ''));
        data.append("City", $("#EditCompanyCity").val().replace(/\s/g, ''));
        data.append("LPR", $("#EditCompanyLPR").val());
        data.append("PhoneNumber", $("#EditCompanyPhone").val());
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateCompany")",
            contentType: false,
            processData: false,
            data: data,
            success: function (data) {
                toastr["success"]("Запись изменена");
                $("#CompaniesModal").modal("hide");
                setTimeout(location.reload(), 3000);
            },
            error: function (request) {
                toastr["error"](request.message)
            },
        })
    };

    // Table Employees
    $("#AddEmployee").on("click", function (evt) {
        var data = new FormData();
        data.append("FirstName", $("#InputEmployeeFirstName").val().replace(/\s/g, ''));
        data.append("Patronymic", $("#InputEmployeePatronymic").val().replace(/\s/g, ''));
        data.append("SecondName", $("#InputEmployeeSecondName").val().replace(/\s/g, ''));
        data.append("Birthday", $("#InputEmployeeBirthday").val());
        data.append("Position", $("#InputEmployeePosition").val());
        data.append("Department", $("#InputEmployeeDepartment").val());
        data.append("PhoneNumber", $("#InputEmployeePhone").val());
        data.append("Experience", $("#InputEmployeeExperience").val());
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddEmployee")",
            contentType: false,
            processData: false,
            data: data,
            success: function (data) {
                toastr["success"]("Запись добавлена в БД");
                setTimeout(location.reload(), 3000);
            },
            error: function (request) {
                toastr["error"](request)
            },
        });
     });

    function DeleteEmployee(id){
        $.ajax({
            type: "Get",
            url: "/home/DeleteEmployee?Id=" + id,
            success: function (data) {
                toastr["success"]("Удалено из БД");
                setTimeout(location.reload(), 3000);
            },
            error: function (request) {
                toastr["error"](request)
            },
        })
     };

    function GetEmployeeById(id) {
        $("#EmployeesModal").modal("show");
        var data = new FormData();
        data.append("Id", id);
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetEmployee")",
            contentType: false,
            processData: false,
            data: data,
            success: function (data) {
                $("#FullName").text(data.firstName + " " + data.secondName);
                $("#EmployeeId").val(data.id);
                $("#EditEmployeeFirstName").val(data.firstName);
                $("#EditEmployeePatronymic").val(data.patronymic);
                $("#EditEmployeeSecondName").val(data.secondName);
                $("#EditEmployeePosition").val(data.position);
                $("#EditEmployeeDepartment").val(data.department);
                $("#EditEmployeePhone").val(data.phoneNumber);
                $("#EditEmployeeExperience").val(data.experience);
            },
            error: function (request) {
                toastr["error"](request.message)
            },
        })
    };

    function UpdateEmployeeModal() {
        var data = new FormData();
        data.append("Id",  $("#EmployeeId").val());
        data.append("FirstName", $("#EditEmployeeFirstName").val().replace(/\s/g, ''));
        data.append("Patronymic", $("#EditEmployeePatronymic").val().replace(/\s/g, ''));
        data.append("SecondName", $("#EditEmployeeSecondName").val().replace(/\s/g, ''));
        data.append("Position", $("#EditEmployeePosition").val());
        data.append("Department", $("#EditEmployeeDepartment").val());
        data.append("PhoneNumber", $("#EditEmployeePhone").val());
        data.append("Experience", $("#EditEmployeeExperience").val());
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateEmployee")",
            contentType: false,
            processData: false,
            data: data,
            success: function (data) {
                toastr["success"]("Запись изменена");
                $("#EmployeesModal").modal("hide");
                setTimeout(location.reload(), 3000);
            },
            error: function (request) {
                toastr["error"](request.message)
            },
        })
    };

    // Table Contract
    $("#AddContract").on("click", function (evt) {
        var data = new FormData();
        data.append("Name", $("#InputProjectName").val());
        data.append("Date", $("#InputProjectDate").val());
        data.append("Url", $("#InputProjectSite").val().replace(/\s/g, ''));
        data.append("CompanyId", $("#CompanySelect").val());
        data.append("EmployeeId", $("#EmployeeSelect").val());
        data.append("Keywords", $("#TextareaKeywords").val());
        data.append("GooglePoz", $("#InputGooglePoz").val());
        data.append("YandexPoz", $("#InputYandexPoz").val());
        data.append("OptimImg", $("#OptimizImg").is(":checked"));
        data.append("OptimText", $("#OptimizText").is(":checked"));
        data.append("OptimTag", $("#OptimizTag").is(":checked"));
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddContract")",
            contentType: false,
            processData: false,
            data: data,
            success: function (data) {
                toastr["success"]("Запись добавлена в БД");
                setTimeout(location.reload(), 3000);
            },
            error: function (request) {
                toastr["error"](request)
            },
        });
    });

    function DeleteContract(id){
        $.ajax({
            type: "Get",
            url: "/home/DeleteContract?Id=" + id,
            success: function (data) {
                toastr["success"]("Удалено из БД");
                setTimeout(location.reload(), 3000);
            },
            error: function (request) {
                toastr["error"](request)
            },
        })
    };

    function GetContractById(id) {
        $("#ContractsModal").modal("show");
        var data = new FormData();
        data.append("Id", id);
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetContractById")",
            contentType: false,
            processData: false,
            data: data,
            success: function (data) {
                $("#NameContractModal").text(data.name);
                $("#ContractId").val(data.id);
                $("#EditContractName").val(data.name);
                $("#EditCompanyDate").val(data.date);
                $("#EditCompanySite").val(data.url);
                $("#EditCompanySelect").val(data.companyId);
                $("#EditEmployeeSelect").val(data.employeeId);
                $("#EditContractKeywords").val(data.keywords);
                $("#EditContractGooglePoz").val(data.googlePoz);
                $("#EditContractYandexPoz").val(data.yandexPoz);
                if (data.optimImg === true) {
                    $("#EditContractOptimizImg").attr("checked", "checked");
                } else {
                    $("#EditContractOptimizImg").removeAttr("checked");
                }
                if (data.optimText === true) {
                    $("#EditContractOptimizText").attr("checked", "checked");
                } else {
                    $("#EditContractOptimizText").removeAttr("checked");
                }
                if (data.optimTag === true) {
                    $("#EditContractOptimizTag").attr("checked", "checked");
                } else {
                    $("#EditContractOptimizTag").removeAttr("checked");
                }
            },
            error: function (request) {
                toastr["error"](request.message)
            },
        })
    };

    function UpdateContractModal() {
        var data = new FormData();
        data.append("Id",  $("#ContractId").val());
        data.append("Name", $("#EditContractName").val());
        data.append("Date", $("#EditCompanyDate").val());
        data.append("Url", $("#EditCompanySite").val().replace(/\s/g, ''));
        data.append("CompanyId", $("#EditCompanySelect").val());
        data.append("EmployeeId", $("#EditEmployeeSelect").val());
        data.append("Keywords", $("#EditContractKeywords").val());
        data.append("GooglePoz", $("#EditContractGooglePoz").val());
        data.append("YandexPoz", $("#EditContractYandexPoz").val());
        data.append("OptimImg", $("#EditContractOptimizImg").is(":checked"));
        data.append("OptimText", $("#EditContractOptimizText").is(":checked"));
        data.append("OptimTag", $("#EditContractOptimizTag").is(":checked"));
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateContract")",
            contentType: false,
            processData: false,
            data: data,
            success: function (data) {
                toastr["success"]("Запись изменена");
                $("#ContractsModal").modal("hide");
                setTimeout(location.reload(), 3000);
            },
            error: function (request) {
                toastr["error"](request.message)
            },
        })
        };

    // Export
    /// To xlsx
    function ToExcelEmployee(type, fn, dl) {
	var elt = document.getElementById('data-table-employees');
	var wb = XLSX.utils.table_to_book(elt, {sheet:"Sheet JS"});
	return dl ?
		XLSX.write(wb, {bookType:type, bookSST:true, type: 'base64'}) :
		XLSX.writeFile(wb, fn || ('Employees.' + (type || 'xlsx')));
        };

    function ToExcelContract(type, fn, dl) {
	var elt = document.getElementById('data-table-contracts');
	var wb = XLSX.utils.table_to_book(elt, {sheet:"Sheet JS"});
	return dl ?
		XLSX.write(wb, {bookType:type, bookSST:true, type: 'base64'}) :
		XLSX.writeFile(wb, fn || ('Contracts.' + (type || 'xlsx')));
        };

    function ToExcelCompany(type, fn, dl) {
	var elt = document.getElementById('data-table-companies');
	var wb = XLSX.utils.table_to_book(elt, {sheet:"Sheet JS"});
	return dl ?
		XLSX.write(wb, {bookType:type, bookSST:true, type: 'base64'}) :
		XLSX.writeFile(wb, fn || ('Companies.' + (type || 'xlsx')));
    };

    // To HTML
    function ToHTMLCompany(type, fn, dl) {
	var elt = document.getElementById('data-table-companies');
	var wb = XLSX.utils.table_to_book(elt, {sheet:"Sheet JS"});
	return dl ?
		XLSX.write(wb, {bookType:type, bookSST:true, type: 'base64'}) :
		XLSX.writeFile(wb, fn || ('Companies.' + (type || 'html')));
    };

    function ToHTMLEmployee(type, fn, dl) {
	var elt = document.getElementById('data-table-employees');
	var wb = XLSX.utils.table_to_book(elt, {sheet:"Sheet JS"});
	return dl ?
		XLSX.write(wb, {bookType:type, bookSST:true, type: 'base64'}) :
		XLSX.writeFile(wb, fn || ('Employees.' + (type || 'html')));
    };

    function ToHTMLContract(type, fn, dl) {
	var elt = document.getElementById('data-table-contracts');
	var wb = XLSX.utils.table_to_book(elt, {sheet:"Sheet JS"});
	return dl ?
		XLSX.write(wb, {bookType:type, bookSST:true, type: 'base64'}) :
		XLSX.writeFile(wb, fn || ('Contracts.' + (type || 'html')));
        };
</script>