@{
    ViewData["Title"] = "Отчёты";
    ViewData["Description"] = "Страница создания отчётов";
}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Создать отчёт</h1>
    </div>
    <div class="container">
        <form id="ReportValidate" method="post">
            <div class="row mt-2">
                <div class="form-group col-md-4">
                    <label for="ContractSelect">Выберите договор</label>
                    <select class="form-control" id="ContractSelect">
                        @foreach (var temp in ViewBag.Contracts)
                        {
                            <option value="@temp.Id">@temp.Name - @temp.Company.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="InputDate">Дата создания отчёта</label>
                    <input type="datetime-local" class="form-control    " id="InputDate" placeholder="Дата">
                </div>
                <div class="form-group col-md-4">
                    <label for="EmployeeSelect">Выберите рабочего</label>
                    <select class="form-control" id="EmployeeSelect">
                        @foreach (var temp in ViewBag.Employees)
                        {
                            <option value="@temp.Id">@temp.FirstName @temp.Patronymic @temp.SecondName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="TextareaActivity">Выполненые мероприятия</label>
                <textarea class="form-control" id="TextareaActivity" name="textareavalid"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block pb-3" value="Submit">Создать отчёт</button>
        </form>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="ReportModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DateReport"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="ReportId">Id:</label>
                            <input type="text" class="form-control" id="ReportId" readonly />
                        </div>
                        <div class="form-group">
                            <label for="EditContractSelect">Выберите договор</label>
                            <select class="form-control" id="EditContractSelect" readonly>
                                @foreach (var temp in ViewBag.Contracts)
                                {
                                    <option value="@temp.Id">@temp.Name - @temp.Company.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="EditDate">Дата создания отчёта</label>
                            <input type="datetime-local" class="form-control" id="EditDate" placeholder="Дата" readonly>
                        </div>
                        <div class="form-group">
                            <label for="EditEmployeeSelect">Выберите рабочего</label>
                            <select class="form-control" id="EditEmployeeSelect" readonly>
                                @foreach (var temp in ViewBag.Employees)
                                {
                                    <option value="@temp.Id">@temp.FirstName @temp.Patronymic @temp.SecondName</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="EditActivity">Выполненые мероприятия</label>
                            <textarea class="form-control" id="EditActivity" readonly></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" onclick='DeleteReport(document.getElementById("ReportId").value)'>Удалить</button>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $("#ReportValidate").validate({
        rules: {
            textareavalid: {
                required: true,
                minlength: 3,
                maxlength: 100
            }
        },
        messages: {
            textareavalid: {
                required: "Это поле является обязательным",
                minlength: jQuery.validator.format("Поле должно быть минимум {0} символа"),
                maxlength: jQuery.validator.format("Максимальное число символов - {0}")
            }
        },
        submitHandler: function () {
            AddReport();
        },
        invalidHandler: function (event, validator) {
            toastr["error"]("Ошибка");
        },
        errorPlacement: function ( error, element ) {
	        error.addClass("text-danger");
		    error.insertAfter(element.parent());
		}
    });


    function AddReport() {
        var data = new FormData();
        data.append("Date", $("#InputDate").val());
        data.append("ContractId", $("#ContractSelect").val());
        data.append("EmployeeId", $("#EmployeeSelect").val());
        data.append("Activity", $("#TextareaActivity").val());
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddReport")",
            contentType: false,
            processData: false,
            data: data,
            success: function (data) {
                toastr["success"]("Запись добавлена в БД");
                setTimeout(location.reload(), 3000);
            },
            error: function (request) {
                toastr["error"](request)
            },
        });
    }

    function DeleteReport(id){
        $.ajax({
            type: "Get",
            url: "/home/DeleteReport?Id=" + id,
            success: function (data) {
                toastr["success"]("Удалено из БД");
                setTimeout(location.reload(), 3000);
            },
            error: function (request) {
                toastr["error"](request)
            },
        })
    };

    function GetReportById(id) {
        $("#ReportModal").modal("show");
        var data = new FormData();
        data.append("Id", id);
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetReportById")",
            contentType: false,
            processData: false,
            data: data,
            success: function (data) {
                $("#DateReport").text(data.date);
                $("#ReportId").val(data.id);
                $("#EditDate").val(data.date);
                $("#EditContractSelect").val(data.contractId);
                $("#EditEmployeeSelect").val(data.employeeId);
                $("#EditActivity").val(data.activity);
            },
            error: function (request) {
                toastr["error"](request.message)
            },
        })
    };
</script>